.bg{
filter:blur(2px);
min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index:-1;
}

body{
background-color:#d5f0d9;
}

h1{
font-family:"Inter",sans-serif;
font-weight:170;
text-shadow:0 0 10px #ffffff;
font-size:30px;
}

input{
font-family:"Inter",sans-serif;
}

#name-box #input-box{
font-size:19px;
}

input:focus{
outline: none;
}

ul{
padding-left:0;
list-style:none;
}

.item-box{
margin:15px auto 5px;
background-color:#e6fcff;
width:615px;
padding:8px 10px 10px;
border-radius:40px;
box-shadow:8px 5px 4px #8ea39c;
display:none;
}

#check-box{
display:inline-block;
padding:3px 5.5px 2px;
margin-left:9px;
cursor:pointer;
transition:0.3s;
width:12px;
border-radius:5px;
transition:.5s;
overflow:hidden;
}

#check-box:hover{
background-color:#869e8b;
}

.clicked{
color:#fff;
text-shadow:0 0 10px #ffffff;
filter:blur(2px);
}

.display{
display:block;
}

#category-box{
display:inline-block;
margin-left:6px;
border-radius:10px;
border:2px solid black;
width:100px;
height:23px;
overflow:hidden;
}

#category-input{
left-margin:17px;
border:none;
width:100%;
background-color:#e6fcff;
text-align:center;
}

.category-dropdown{
display:none;
list-style:none;
background:#8c9c8e;
position:absolute;
border-radius:10px;
z-index:99;
}

.category-dropdown li{
display:block;
padding:4px 25px;
cursor:pointer;
}

.show{
display:block;
overflow:visible;
}

#color-icon img{
border-radius:90px;
display:inline-block;
position:relative;
opacity:0;
width:15.25px;
left:80px;
bottom:16px;
transition: opacity 0.3s;
}

#color-icon img:hover{
opacity:1;
}

#name-box{
display:inline-block;
width:330px;
height:23px;
overflow:hidden;
}

#input-box{
border:none;
width:100%;
background-color:#e6fcff;
text-align:center;
}

#subtask-button{
display:inline-block;
position:relative;
left:305px;
bottom:25px;
padding:1.5px 1.5px;
width:18px;
height:18px;
border-radius:20px;
transition:0.3s;
cursor:pointer;
text-align:center;
}

#subtask-button:hover{
background-color:#8c9c8e;
}

#due-date-input{
border:none;
background-color:#e6fcff;
margin-left:2px;
}

#due-date-box{
display:inline-block;
overflow:hidden;
width:89px;
height:23px;
border: 2px solid black;
border-radius:10px;
}

#remove-box{
display:inline-block;
position:relative;
padding:5px 5px;
cursor:pointer;
width:20px;
height:20px;
border-radius:20px;
transition:0.3s;
top:2px;
cursor:pointer;
overflow:hidden;
text-align:center;
}

#remove-box:hover{
background-color:#8c9c8e;
}

#sublist-item-box{
margin:15px auto 5px;
background-color:#e6fcff;
width:410px;
height:35px;
padding:10px 10px 10px;
border-radius:40px;
box-shadow:8px 5px 4px #8ea39c;
display:none;
}

.new-item-prompt{
margin:15px auto 5px;
background-color:#e6fcff;
width:25%;
padding:10px 20px 10px;
border-radius:40px;
box-shadow:8px 5px 4px #8ea39c;
}

.new-item-prompt #input-box{
border:none;
outline:none;
background-color:#e6fcff;
}

@media screen and (max-width: 640px) {
  .item-box{
    width:520px;
  }
  #due-date-box{
  display:none;
  }
  #color-icon img{
    opacity:1;
    }
}

@media screen and (max-width: 545px) {
  .item-box{
    width:405px;
  }
  #category-box{
      display:none;
  }
  #sublist-item-box{
  width:305px;
  }
  #sublist-item-box #name-box{
  width:230px;
  }

}
